{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],

  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["clsx", "cva"],

  "importOrder": [
    "^react(-dom)?(/(.*))?$",
    "^@/assets/(.*)$",
    "^@/components/(.*)$",
    "^@/.*/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
