@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 12 100%;
    --foreground: 20 14.3% 4.1%;

    --neutral-50: 60 9 98%;
    --neutral-100: 60 5 96%;
    --neutral-200: 20 6 90%;
    --neutral-300: 24 6 83%;
    --neutral-400: 24 5 64%;
    --neutral-500: 25 5 45%;
    --neutral-600: 33 5 32%;
    --neutral-700: 30 6 25%;
    --neutral-800: 12 6 15%;
    --neutral-900: 24 10 10%;
    --neutral-950: 20 14 4%;

    --red-50: 355.7 100% 97.3%;
    --red-100: 355.6 100% 94.7%;
    --red-200: 352.7 96.1% 90%;
    --red-300: 352.6 95.7% 81.8%;
    --red-400: 351.3 94.5% 71.4%;
    --red-500: 349.7 89.2% 60.2%;
    --red-600: 346.8 77.2% 49.8%;
    --red-700: 345.3 82.7% 40.8%;
    --red-800: 343.4 79.7% 34.7%;
    --red-900: 341.5 75.5% 30.4%;
    --red-950: 343.1 87.7% 15.9%;

    --card: var(--background);
    --card-foreground: var(--neutral-950);
    --popover: var(--background);
    --popover-foreground: var(--neutral-950);
    --primary: var(--neutral-900);
    --primary-foreground: var(--neutral-50);
    --secondary: var(--neutral-100);
    --secondary-foreground: var(--neutral-900);
    --muted: var(--neutral-100);
    --muted-foreground: var(--neutral-500);
    --accent: var(--neutral-100);
    --accent-foreground: var(--neutral-900);
    --destructive: var(--red-500);
    --destructive-foreground: var(--neutral-50);
    --border: var(--neutral-200);
    --input: var(--neutral-200);
    --ring: var(--neutral-950);

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --neutral-950: 60 9 98%;
    --neutral-900: 60 5 96%;
    --neutral-800: 20 6 90%;
    --neutral-700: 24 6 83%;
    --neutral-600: 24 5 64%;
    --neutral-500: 25 5 45%;
    --neutral-400: 33 5 32%;
    --neutral-300: 30 6 25%;
    --neutral-200: 12 6 15%;
    --neutral-100: 24 10 10%;
    --neutral-50: 20 14 4%;

    --red-950: 355.7 100% 97.3%;
    --red-900: 355.6 100% 94.7%;
    --red-800: 352.7 96.1% 90%;
    --red-700: 352.6 95.7% 81.8%;
    --red-600: 351.3 94.5% 71.4%;
    --red-500: 349.7 89.2% 60.2%;
    --red-400: 346.8 77.2% 49.8%;
    --red-300: 345.3 82.7% 40.8%;
    --red-200: 343.4 79.7% 34.7%;
    --red-100: 341.5 75.5% 30.4%;
    --red-50: 343.1 87.7% 15.9%;

    --card: var(--neutral-50);
    --card-foreground: var(--neutral-950);
    --popover: var(--neutral-50);
    --popover-foreground: var(--neutral-950);
    --primary: var(--neutral-950);
    --primary-foreground: var(--neutral-100);
    --secondary: var(--neutral-200);
    --secondary-foreground: var(--neutral-950);
    --muted: var(--neutral-200);
    --muted-foreground: var(--neutral-600);
    --accent: var(--neutral-200);
    --accent-foreground: var(--neutral-950);
    --destructive: var(--red-100);
    --destructive-foreground: var(--neutral-950);
    --border: var(--neutral-200);
    --input: var(--neutral-200);
    --ring: var(--neutral-700);

    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-1: 220 70% 50%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
